.custom-dark-bg {
  background-color: rgb(30, 30, 30) !important;
}

.favicon-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.list-group-item:focus-within {
  background: rgb(25, 25, 25);
}

.hide {
  visibility: hidden;
}

.flush {
  color: rgb(200, 200, 200);
}

.removed-item {
  text-decoration: line-through;
}

.nav-link:hover {
  cursor: pointer;
}

.autoComplete {
  position: absolute;
  padding: 0.45rem 0.8rem;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
}

#iframe-container iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  min-width: 780px;
  height: 70%;
  z-index: 9999;

  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
